@import url('https://fonts.googleapis.com/css?family=Work+Sans:900&display=swap');	/* font-family: 'Work Sans', sans-serif; */

*{
	margin: 0;
	padding: 0;
}

.fa, .fab, .fad, .fal, .far, .fas{
	font-size: 16px;
}

input, a{
	outline: none;
	text-decoration: none;
}

button{
	outline: none;
	cursor: pointer;
}

header{
	display: flex;
	justify-content: space-between;
	background: #292e40;
	padding: 20px 1%;
}

header .left{
	display: grid;
	grid-template-columns: 250px auto 300px;
	align-items: center;
	text-align: center;
}

header .left a{
	color: #b9c4ce;
}

header .left a:first-of-type{
	font-family: 'Work Sans', sans-serif;
	font-weight: 900;
	font-size: 25px;
}

header .left form.search{
	position: relative;
}

header .left form.search input[type="search"]{
	background: transparent;
	border-radius: 20px;
	border: 1px solid #343a50;
	color: #c2cbe2;
	padding: 10px 20px;
	width: 100%;
}

header .left form.search button{
	position: absolute;
	background: #343a50;
	border: 1px solid #343a50;
	color: #c2cbe2;
	padding: 10px;
	border-radius: 50%;
	right: 0;
}
